.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  .product-item {
    position: relative;
    overflow: hidden;
    flex-basis: 100%;
    img {
      width: 100%;
      height: 100%;
    }
    &::before {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: #3b3b3b84;
    }
    .product-content {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .actions {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        li {
          background-color: orange;
          text-align: center;
          padding: 0.5rem 1rem;
        }
      }
      .title {
        color: #fff;
      }
    }
  }
}
