.footer {
  background-color: #3b3b3b;
  color: #fff;
  font-size: 1.4rem;

  .footer-copyright {
    text-align: center;
    padding: 2rem 0;
  }
  .footer-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    li {
      position: relative;
      flex: 1;
      text-align: center;
      &:after {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 0.2rem;
        height: 100%;
        background-color: #7b7b7b;
      }
      &:last-child::after {
        display: none;
      }
      a {
        display: block;
        padding: 0.7rem;
        color: #fff;
      }
    }
  }
  .divider {
    margin-top: 5.8rem;
  }
  .footer-copyright {
    font-size: 1.2rem;
    margin-top: 3.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
  }
}
