.footer {
  background-color: #3b3b3b;
  color: #fff;
  font-size: 1.4rem;
  .footer-copyright {
    text-align: center;
  }
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3.8rem;
    li {
      position: relative;
      flex: 1;
      text-align: center;
      &:after {
        position: absolute;
        content: '';
        top: 0.5rem;
        left: 0;
        width: 0.1rem;
        height: 2.7rem;
        background-color: #7b7b7b;
      }
      &:last-child::after {
        display: none;
      }
      a {
        display: block;
        padding: 0.7rem;
        color: #fff;
        &:hover {
          color: #f68220;
        }
      }
    }
  }
  .divider {
    color: #ff0000;
  }
  .footer-copyright {
    font-size: 1.2rem;
    margin-top: 2.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
  }
}
