@media screen and (min-width: 576px) {
  .container {
    max-width: 54rem !important;
  }
  .products-container {
    .product-item {
      .actions {
        visibility: hidden;
        opacity: 0;
      }
      &:hover .actions {
        transition: all ease 0.5s;
        visibility: visible;
        opacity: 1;
      }
      &:hover img {
        transform: scale(1.4);
        transition: all ease 0.5s;
      }
    }
  }
  .contact-us-buttons {
    flex-direction: row !important;
  }
  .footer-copyright {
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 992px) {
  .container {
    max-width: 72rem !important;
  }
  // .product-item {
  //   flex-basis: 50% !important;
  // }
  .desktop-menu {
    display: flex !important;
  }
  .mobile-menu {
    display: none !important;
  }
  .video-player {
    aspect-ratio: 16/9 !important;
  }
  .footer-copyright {
    justify-content: space-between !important;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 114rem !important;
  }
  .footer {
    font-size: 1.6rem;
    .footer-copyright {
      font-size: 1.6rem;
    }
  }
  .article-item {
    flex-direction: row !important;
    gap: 2rem;
    -moz-column-gap: 2rem;
    -webkit-column-gap: 2rem;
    .article-item-image,
    .content {
      flex-basis: 50%;
    }
  }
  .article-item:nth-child(odd) {
    flex-direction: row-reverse !important;
  }
  .video-player {
    aspect-ratio: 16/9 !important;
  }
  // .product-item {
  //   flex-basis: 33% !important;
  // }
  .catalog-item-text {
    position: absolute;
    background-color: #fff;
    width: 38rem;
    top: 50%;
    transform: translateY(-50%);
    padding: 1.5rem 1.8rem;
    right: 0;
  }
  .catalog-item:nth-child(odd) .catalog-item-image {
    align-self: flex-end;
  }
  .catalog-item:nth-child(even) .catalog-item-text {
    right: unset;
    left: 0;
  }
}

@media screen and (min-width: 1400px) {
  .container {
    max-width: 132rem !important;
  }
}
